/* importacion de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  border-top: #572ee5 5px solid;
  border-bottom: #572ee5 5px solid;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

body.dark {
  background-color: #222326;
}

footer .dark {
  background-color: #222326;
}

header {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 45px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 13px;
  color: #572ee5;
  letter-spacing: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

.lupa {
  background-image: url(../assets/button-crear-gifo.svg);
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
}

.lupa:hover {
  background-image: url(../assets/CTA-crear-gifo-hover.svg);
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
}

header nav .nav-section {
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav .nav-section {
  color: #0000ec;
}

main {
  margin: 110px auto auto auto;
}

.section-hero {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 95px;
}

.main-title {
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  color: #572ee5;
  text-align: center;
  line-height: 50px;
  margin-bottom: 24px;
}

.color_gifos {
  color: #50e3c2;
}

.main-input-controler {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 50px;
  width: 551px;
  border: 1px solid #572ee5;
  border-bottom: 2px solid #572ee5;
  border-radius: 27px;
  padding: 0 20px 0 54px;
  margin-bottom: 73px;
}

.main-input-controler input {
  height: 22px;
  width: 210px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #000000;
  outline-style: none;
  text-align: left;
}

.main-input-controler .img-buscar {
  cursor: pointer;
}

.contenedor-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Carousel {
  width: 100%;
}

.Carousel h2 {
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

/* images */
.slick-list {
  position: relative;
  display: flex;
  align-items: center;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}

.slick-track {
  /* padding-left: 60px;
  padding-right: 60px;
  position: relative; */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.slick {
  position: relative;
  background: #572ee5;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}

.gif-trending {
  width: 303.6px;
  height: 275px;
}

.gif-trending:hover {
  opacity: 0.6;
}

.slick:before {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  background: #fff;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.slick:hover:before {
  opacity: 1;
}

.slick .text-container {
  width: inherit;
  padding: 5px 15px;
  color: #444;
  position: absolute;
  top: 100%;
}

.slick:hover .text-container {
  top: 0;
}

p {
  color: #888;
  font-size: 0.75em;
  line-height: 0.2em;
}

i {
  font-style: normal;
}

.flecha-izquierda,
.flecha-derecha {
  border: none;
  background-color: transparent;
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.flecha-izquierda,
.flecha-izquierda:hover,
.flecha-derecha,
.flecha-derecha:hover {
  width: 40px;
  height: 40px;
}

.flecha-izquierda {
  background-image: url("assets/button-slider-left.svg");
}

.flecha-izquierda:hover {
  background-image: url("assets/button-slider-left-hover.svg");
}

.flecha-derecha {
  background-image: url("assets/button-Slider-right.svg");
}

.flecha-derecha:hover {
  background-image: url("assets/button-Slider-right-hover.svg");
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.gifos .contenedor-carousel {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.gifos .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.user-gif {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 6px;
  text-align: left;
}

.title-gif {
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }

  header .contenedor {
    flex-direction: column;
    text-align: center;
  }

  .flecha-izquierda,
  .flecha-derecha {
    display: none;
  }
}

/* buttons */

button:focus {
  outline: none;
}

.slick-arrow {
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
}

.slick-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.gifos {
  background: #f3f5f8;
  padding: 67px 92px 182px 94px;
}

.header-gifos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 53px;
}

.gifos-title {
  height: 30px;
  width: 550px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 30px;
  margin-bottom: 12px;
}

.gifos-mensaje {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.btn-slider-ant {
  width: 24px;
  height: 24px;
}
.btn-slider-sig {
  width: 24px;
  height: 24px;
}

footer {
  background: #ffffff;
  padding: 48.4px 158px 51.5px 156px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container-footer {
  display: flex;
  justify-content: flex-start;
}

.compartir,
.copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
}

.img-social {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url(../assets/icon_facebook.svg);
}

.facebook:hover {
  background-image: url(../assets/icon_facebook_hover.svg);
}

.twitter {
  background-image: url(../assets/icon-twitter.svg);
}

.twitter:hover {
  background-image: url(../assets/icon-twitter-hover.svg);
}

.instagram {
  background-image: url(../assets/icon_instagram.svg);
}

.instagram:hover {
  background-image: url(../assets/icon_instagram-hover.svg);
}

/* Nav */
.nav-container {
  height: 90px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container img {
  width: 59.1px;
  height: 59.1px;
}

.nav-container .nav-links {
  display: flex;
}

.nav-container .nav-links a {
  color: #572ee5;
  text-decoration: none;
  margin-left: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.nav-container .link {
  padding-top: 36px;
  padding-bottom: 38px;
}

.nav-container .link-grabar {
  padding-top: 18px;
  padding-bottom: 38px;
}

.show-menu-btn,
.hide-menu-btn {
  display: none;
}

#chk {
  display: none;
}

.btn-buscar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-head {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
}

.text-gifos {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
}

@media (max-width: 720px) {
  .nav-container,
  #textos {
    margin: 0 auto;
    width: 90%;
  }

  .nav-container.header {
    height: 3.5rem;
  }

  .nav-container.header .nav-links {
    position: absolute;
    background: #0000ec;
    top: 3.5rem;
    left: 0;
    width: 100%;
    padding: 0 5%;
    display: none;
  }

  .nav-container.header .nav-links a {
    display: block;
    margin: 2rem 0;
    text-decoration: none;
    color: #ffffff;
  }

  .show-menu-btn {
    display: block;
  }

  .hide-menu-btn {
    display: none;
  }

  .show-menu-btn,
  .hide-menu-btn {
    font-size: 1.7rem;
  }

  #chk:checked ~ .nav-links {
    display: block;
  }

  #chk:checked ~ .show-menu-btn {
    display: none;
  }

  #chk:checked ~ .hide-menu-btn {
    display: block;
  }
}
